/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 20, 2026, 2:50:32 PM
    Author     : admin
*/

.Container {
    -fx-background-color: #FFFFFF  ;
    -fx-alignment: Center ;
    -fx-spacing: 15;
    -fx-font-size: 25;

}

.Button {
     -fx-padding: 15;
     -fx-background-color: #E0E0E0   ;
     -fx-pref-width: 150;
     -fx-font-size: 15;
}